<div id="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit($event, loginForm)">

    <span class="label">Username</span>
    <mat-form-field appearance="outline">
      <input [formControl]="loginFormModel.username" matInput required>
    </mat-form-field>

    <span class="label">Password</span>
    <mat-form-field appearance="outline">
      <input [formControl]="loginFormModel.password" matInput type="password" required>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="loading">
      Login
      <mat-icon svgIcon="arrow-right"></mat-icon>
    </button>
  </form>
</div>
