@import "../../scss/theme/colors";

app-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: $background;

  #login-card {
    background: $white;
    border-radius: 10px;
    border: solid 2px $border;
    padding: 20px 25px;
    min-width: 300px;

    form {
      display: flex;
      flex-direction: column;

      .label {
        font-size: 13px;
      }

      .mat-button {
        margin: 5px 0 8px;
      }
    }
  }
}
