
<h2>List</h2>

<div class="table">
  <div class="table-header">
    <mat-checkbox class="table-header-item" [checked]="isChecked()" [indeterminate]="isIndeterminate()" (change)="toggleAll($event)">
      Container #
    </mat-checkbox>
    <div class="table-header-item">Location</div>
    <div class="table-header-item">Est. Arrival</div>
    <div class="table-header-item">Needed By</div>
    <div class="table-header-item">PO #</div>
    <div class="table-header-item">Wash Type</div>
    <div class="table-header-item">Last Contained</div>
  </div>
  <div class="table-content" *ngIf="list.items.length">
    <div class="table-row" *ngFor="let row of list.items">
      <mat-checkbox class="table-row-item" [checked]="exists(row.id)" (change)="toggle(row.id, $event)">
        {{ row.id }}
      </mat-checkbox>
      <div class="table-row-item">{{ row.location.name }}</div>
      <div class="table-row-item">{{ row.arrival }}</div>
      <div class="table-row-item">{{ row.needBy }}</div>
      <div class="table-row-item">{{ row.po }}</div>
      <div class="table-row-item">{{ row.type }}</div>
      <div class="table-row-item">{{ row.last }}</div>
    </div>
  </div>
</div>
