@import "../theme/colors";

.mat-accordion {
  display: block;
  margin: 80px 0;
  border-bottom: solid 2px $border;

  .mat-expansion-panel {
    box-shadow: none;
    border-radius: 0 !important;

    .mat-expansion-panel-header {
      border-top: solid 2px $border;

      .mat-expansion-panel-header-title {
        min-width: 250px;
        align-items: center;
        color: $light-green;
        font-weight: 500;

        .mat-icon {
          margin-right: 10px;
          margin-left: 50px;
        }
      }

      .mat-expansion-indicator, .mat-expansion-indicator::after {
        color: $light-green;
      }
    }

    .mat-expansion-panel-content {
      background-color: $background;

      .mat-expansion-panel-body {
        padding: 0;
        color: $gray;
      }
    }

    &.mat-expanded {
      margin-top: 0 !important;
      margin-bottom: 0 !important;

      .mat-expansion-panel-header {
        border-bottom: solid 2px $border;
      }
    }
  }
}
