@import "../theme/colors";

.mat-button {
  background-color: $light-green;
  color: $white;
  border-radius: 30px !important;

  .mat-icon {
    transform: scale(0.8);
  }

  &[disabled] {
    background-color: $border;
  }
}
