@import "../theme/colors";

.mat-checkbox {
  &.mat-checkbox-checked .mat-checkbox-background,
  &.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: $white;
  }

  &:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: $white;
  }

  .mat-checkbox-frame {
    border-color: $border;
  }

  .mat-checkbox-checkmark {
    fill: $light-green;
  }

  .mat-checkbox-checkmark-path {
    stroke: $light-green !important;
  }

  .mat-checkbox-mixedmark {
    background-color: $light-green !important;
  }
}
