@import "../theme/colors";

.mat-form-field {
  .mat-form-field-infix {
    border-top: none;
    padding: 1.3em 0 1em 0;
  }

  .mat-form-field-outline, .mat-form-field-outline-thick {
    color: $border;
  }

  &.mat-focused .mat-form-field-outline-thick {
    color: $light-green;
  }
}
