@import "../theme/colors";

.table {
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: $black;
    color: $white;
    border-radius: 10px 10px 0 0;

    .table-header-item {
      flex: 1;
      padding: 5px;
    }

    &:last-child {
      border-radius: 10px;
    }
  }

  .table-content {
    .table-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      color: $white;

      .table-row-item {
        flex: 1;
        padding: 5px;
      }

      &:nth-child(odd) {
        background-color: $light-green;
      }

      &:nth-child(even) {
        background-color: $dark-green;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
