@import "../scss/theme/colors";

app-layout {
  display: flex;
  height: 100%;
  background: $background;

  .mat-drawer-container {
    flex: 1;

    .mat-drawer {
      border-right: solid 2px $border;

      #drawer-button-right-border {
        position: fixed;
        top: 17px;
        background: $white;
        height: 36px;
        left: 322px;
        z-index: 2;
        width: 2px;
      }

      .menu-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        .mat-icon {
          margin-right: 10px;
          margin-left: 80px;
        }
      }
    }

    .mat-drawer-content {
      display: flex !important;
      flex-direction: column;

      #drawer-button {
        position: fixed;
        top: 15px;
        color: $light-green;
        border-radius: 0 50% 50% 0;
        border: solid 2px $border;
        border-left: none;
        background: $white;

        .mat-icon {
          transition: all 0.3s ease-in-out;
          margin-bottom: 2px;
        }

        &.rotate .mat-icon {
          transform: rotate(180deg);
        }
      }

      #content {
        height: 100%;

        &.logged {
          margin-top: 34px;
          border-top: solid 2px $border;
        }
      }
    }
  }
}
