<mat-drawer-container [hasBackdrop]="false">

  <mat-drawer #drawer mode="side" [opened]="!!user">
    <div id="drawer-button-right-border"></div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
          <mat-panel-title>
            <mat-icon svgIcon="format-list-bulleted"></mat-icon> Wash List
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="menu-button" routerLink="lists/draft" matRipple>
          <mat-icon svgIcon="pencil-box-outline"></mat-icon>
          Drafts
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header expandedHeight="48px" collapsedHeight="48px">
          <mat-panel-title>
            <mat-icon svgIcon="account"></mat-icon>
            My Account
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="menu-button" (click)="logout()" matRipple>
          <mat-icon svgIcon="logout"></mat-icon>
          Logout
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <button mat-icon-button (click)="drawer.toggle()" *ngIf="!!user" id="drawer-button" [class.rotate]="drawer.opened">
      <mat-icon svgIcon="arrow-right"></mat-icon>
    </button>
    <div id="header-line"></div>

    <div id="content" [class.logged]="!!user">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
