@import "../../../scss/theme/colors";

.mat-dialog-container {
  padding: 0;
  border-radius: 10px;
  overflow: hidden;

  app-logout-dialog {
    display: block;

    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      background-color: $light-green;
      color: $white;

      .mat-dialog-title {
        margin: 0;
      }

      .icon-button {
        color: $white !important;
      }
    }

    .mat-dialog-content {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 20px 15px;
      background-color: $white;
      color: $black;
      position: relative;
    }

    .mat-dialog-actions {
      margin: 0;
      padding: 5px 10px;
      background-color: $background;
      justify-content: flex-end;
      min-height: 46px;

      .button {
        margin: 10px;
      }
    }
  }
}
