<div class="dialog-header">
  <h1 mat-dialog-title>Logout</h1>

  <div class="close-icon">
    <button mat-icon-button (click)="cancel()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  Are you sure you want to logout of {{ data.username }}?
</div>

<div mat-dialog-actions>
  <button mat-button (click)="confirm()">Logout</button>
</div>
