html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; &:hover { text-decoration: none; } }
*:focus { outline: none; }

@import "app/scss/components/accordion";
@import "app/scss/components/button";
@import "app/scss/components/checkbox";
@import "app/scss/components/input";
@import "app/scss/components/table";
